h2 {
  margin: 0;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
  margin-top: 16px;
}

.center {
  text-align: center;
}


.card-button {
  border: none;
  padding: 8px 16px;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  display: block;
  width: 100%;
  font-size: 18px;
  color: #3f51b5;
  background-color: #e8eaf6;
}

.card-button:hover {
  background-color: #3f51b5 !important;
  color: #e8eaf6 !important
}
