.center {
  text-align: center;
}

.search-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.search-input {
  padding: 8px;
  display: inline-block;
  border: none;
  border: 1px solid #ccc;
  width: 100%;
}


.search-button {
  border: none;
  padding: 8px 16px;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  color: #3f51b5;
  background-color: #e8eaf6;
  font-size: 18px;
  min-width: 150px;
}

.search-button:hover {
  background-color: #3f51b5 !important;
  color: #e8eaf6 !important
}
